@model QuanLyHighLands63132946.Models.NHACUNGCAP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="margin-left:10px;">CẬP NHẬT THÔNG TIN NHÀ CUNG CẤP</h3>
<style type="text/css">
    body {
        background-color: white;
    }

    .btn-link {
        color: black;
        padding: 10px;
        background-color: none;
        font-weight: bold;
    }

        .btn-link:hover {
            padding: 10px;
        }

    #menu {
        margin-bottom: 10px;
    }
</style>


@using (Html.BeginForm("Edit", "NhaCungCap63132946", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.maNCC)
    <div class="form-group">
        @Html.LabelFor(model => model.maNCC, "Mã nhà cung cấp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.maNCC, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.maNCC, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.tenNCC, "Tên nhà cung cấp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenNCC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenNCC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.diaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.diaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn-link" })
</div>